.grid {
    display: inline-grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 60vh 60vh 60vh;
}

racebtn {
    width: 3vw;
    grid-column: 1/ span 2;
}

#ashton.clicked {
    animation: race 3s ease-in-out;

    -webkit-animation-name: race;
    animation-name: race;

}

@keyframes race {
    0% {
        transform: translate(10px)
    }

    25% {
        transform: translate(30px)
    }

    50% {
        transform: translate(50px)
    }

    100% {
        transform: translate(5000px)
    }
}